{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
      
    <script   src="https://code.jquery.com/jquery-3.6.4.js"   integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="   crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href ="{% static  'shop/style.css' %}">

    <title>Document</title>

</head>
<body>  
    

<!--Creating the Navbar and displaying number of items on Navbar-->
<div class="container">
<div class="row">
    <div class="col-md-12">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">E-Scooters & E-Bikes Shopping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus.">
              Cart(0)
            </button>
        </li>
      
        <li class="nav-item active ">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
       
    </ul>
    {% if user.is_authenticated %}
    <a class="text-white" href="/logout">Logout</a>
    <a class="btn btn-sm btn-outline-primary m-2"  href=" ">{{user.username|title}}</a>
   {% else %}
    <a class="text-white" href="/login">Login</a>
    <a class="btn btn-sm btn-primary m-2"  href="/register">Register</a>
   {% endif %}



    </div>
  </nav>       
</div>

</div>

</div>

{% block body %}

{% endblock %}

</body>

<!--Creating the cart and using local storage to save cart  -->
<script type="text/javascript">
    console.log('This is working');

    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));

    }

    $(document).on('click','.atc',function(){
           console.log("The add to cart button is clicked");
           var item_id = this.id.toString();
           console.log(item_id);

           if(cart[item_id]!=undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            


           }
           else{
            quantity = 1;
            name = document.getElementById("nm"+ item_id).innerHTML;
            cart[item_id] = [quantity, name];





           }
           console.log(cart);
           localStorage.setItem('cart',JSON.stringify(cart));
           document.getElementsById("cart").innerHTML = "Cart("+ Object.keys(cart).lenght +")";



       });
       
       DisplayCart(cart);
       function DisplayCart(cart){
        var cartString ="";
        cartString += "<h5>This is your cart</h5>";
        var cartIndex = 1;
        for(var x in cart){
            cartString += cartIndex;
            cartString += document.getElementById("nm"+x).innerHTML + "Qty" + cart[x][0] + "</br> ";
            cartIndex += 1;
        }
        
        cartString += "<a href='/checkout'><button class='btn btn-warning' id= 'checkout'>Checkout</button></a>";
        document.getElementById("cart").setAttribute('data-content', cartString);
        $('[data-toggle="popover"]').popover();


       }

</script>

</html>











