{% extends 'shop/base.html' %}
{% block body %}

<div class="flex flex-col justify-center items-center min-h-screen">
<h1 class="font-weight-bold">🔐 Register</h1>
<form class="shadow-lg p-10" method="POST">
{% csrf_token %}
<div class="mb-2">
<label >Username</label>
<div class="border rounded py-2 px-2 mr-10">
{{ user_form.username }}
</div>
</div>
<div class="mb-2">
<label >Email</label>
<div class="border rounded py-2 px-2 mr-10">
{{ user_form.email }}
</div>
</div>
<div class="mb-2">
<label >Password</label>

<div class="border rounded py-2 px-2 mr-10">
{{ user_form.password }}
</div>
</div>
<div class="mb-2">
<label >Confirm Password</label>
<div class="border rounded py-2 px-2 mr-10">
{{ user_form.password2 }}
</div>
</div>



<div class="mb-2">
    <input type="checkbox">
    <label >I understand and agree with the <br>Terms Conditions and Privacy Policy</br></label>

</div>
<div>
    <div class="mb-2">
        <input type="checkbox">
    <label >I accept the cookies, which will <br>be used to improve the user's experience</br></label>
</div>
<button class="bg-green-500 text-balck px-4 py-2" type="submit">Create user</button>
</form>
<p class="m-10"> Already registered? <span> <a class="text-indigo-500" href="{% url 'login'
%}">Click here</a> to login</p></span>
</div>

{% endblock %}