{% extends 'shop/base.html' %} <!-- Extends the base.html template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Adding detail view of a product done by Martina, edited by Jeremy --> 
    <title>Document</title>
</head>
<body>

{% block body %} <!-- Defines a block named "body" -->

<div class="flex flex-col justify-center items-center min-h-screen">
    <form class="shadow-lg p-10" >
		<div class="center">
			<div style="flex:2"><img class="row-image" src="{{ product_object.image}}"></div>
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Title: {{ product_object.title }}</strong></div>
					<div style="flex:1"><strong>Description: {{ product_object.description }}</strong></div>
					<div style="flex:1"><strong>Price in CZK: {{ product_object.price }}</strong></div>
					<div style="flex:1"><strong>Discounted price: {{product_object.discount_price }}</strong></div>
				</div>
                <br>
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Continue Shopping</a>
                </div>
            </form>
			</div>
		</div>
	</div>
{% endblock %} <!-- Ends the "body" block -->
</body>

</html>
 