{% extends 'shop/base.html' %}<!-- Extends the base.html template -->
{% block body %}

<!--Logout page done by Jeremy
    This shows you have been logged out of your account -->
<br> <br>

<div class="container bg-white shadow-md p-5 form-layout">

    <div class="text-center">

        <h4 class="text-uppercase"> </h4>

        <br>

        <p> You have been logged out, click here to log back in </p>
        
        <br>

        <a class="btn btn-info" type="button"  href="{%url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Login </a>


   </div>
</div>
  


{% endblock %}